# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.ssh
.bash_history
.cache
.ssh
.bash_history
.cache
.Xauthority
.bash_history
.sudo_as_admin_successful

node_modules
env
.env
dist-ssr
dist
/dist
*.local
.npm

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
