/* Step indicator */
.step-indicator {
  max-width: 300px;
  margin: 0 auto;
}

.step {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--primary-color);
}

.step.active {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.step-line {
  height: 1px;
  width: 64px;
  background-color: rgb(148, 136, 136);
  margin: 0 8px;
  align-self: center;
}
.option-card {
  border-radius: 8px;
  cursor: pointer;
  height: 100%;
  transition: all 0.2s ease;
}

.option-card:hover:not(.active) {
  border-color: rgb(54, 53, 53);
}

.option-card.active {
  background-color: var(--primary-color);
  color: white;
}

.option-card .icon-container {
  color: var(--dark-gray);
}

.option-card.active .icon-container {
  color: white;
}

.option-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: unset;
}

.option-text {
  font-size: 0.875rem;
}
