.text-custom-green {
  color: #128330;
}
.btn-custom-green {
  background-color: #128330;
  border-color: #128330;
  color: #ffffff;
}
.btn-custom-green:hover {
  background-color: #0f6b28;
  border-color: #0f6b28;
  color: #ffffff;
}
.text-custom-dark {
  color: #1e1e1e;
}
.text-custom-muted {
  color: #373737;
}
.-state-container {
  margin-top: 8rem;
}
